<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="bookingRepository" class="com.shreya.spring.repository.BookingRepository"/>

   <bean id="bookingService" class="com.shreya.spring.service.BookingService">
      <property name="booking" ref="booking"/>
      <property name="bookingRepository" ref="bookingRepository"/>
   </bean>

   <bean id="bookingController" class="com.shreya.spring.controller.BookingController">
      <property name="bookingService" ref="bookingService"/>
   </bean>

   <bean id="booking" class="com.shreya.spring.model.Booking">
      <property name="id" value="101"/>
      <property name="bookName" value="Book"/>
      <property name="price" value="1435"/>
      <property name="address" ref="address"/>
   </bean>

   <bean id="address" class="com.shreya.spring.model.Address">
      <property name="addressLine1" value="pune"/>
      <property name="addressLine2" value="mumbai"/>
   </bean>
</beans>