<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="collageService" class="com.shreya.spring.service.CollageService">
        <property name="collage" ref="collage"/>
    </bean>

    <bean id="collage" class="com.shreya.spring.model.Collage">
        <property name="collageName" value="abc"/>
        <property name="collageId" value="1234"/>
        <property name="address" value="pune"/>
    </bean>

    <bean id="library" class="com.shreya.spring.model.Library">
        <property name="labNo" value="102ST"/>
        <property name="labAddress" value="pune xyz clg"/>

    </bean>

    <bean id="libraryService" class="com.shreya.spring.service.LibraryService">
        <property name="library" ref="library"/>
    </bean>
</beans>